// .questionaire {
//   width: 100%;
//   height: 100%;
//   padding: 100px 200px;
//   background-color: #eeeeee;

//   &__container {
//     width: 100%;
//     height: 100%;
//   }

//   &__content {
//     background-color: #fff;
//     border-radius: 10px;
//     // padding: 20px 18px;
//     height: 100%;

//     margin-bottom: auto;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;

//     &-block {
//       flex-grow: 1;
//       margin: 20px 60px;
//     }
//   }

//   &__buttons-container {
//     display: flex;
//     gap: 24px;
//     justify-content: flex-end;
//     margin-top: 10px;
//   }
// }

.questionaire {
  margin-top: 60px;
  margin-bottom: 60px;

  &__container {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    background-color: #fff;
    flex-grow: 1;
    margin: 20px 60px;
  }

  &__buttons-container {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    margin-top: 10px;
  }
}
