@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');

html, body,
#root  {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #eeeeee;
    font-family: 'Inter', sans-serif;
}
 